<form action='/actors' method='get'>
  <input type="text" name="query">
  <input type="submit" value="Search">
</form>

<!-- pages -->
<% @page ||= 1 %>
<% if @page < @last_page %>
  <a href='/actors?page=<%= "#{@page.to_i + 1}" %>&query=<%= "#{@search}" %>'>Next Page</a>
<% end %>
<% if @page > 1 %>
  <a href='/actors?page=<%= "#{@page.to_i - 1}" %>&query=<%= "#{@search}" %>'>Previous Page</a>
<% end %>

<ul>
  <% @actors.sort_by{ |actor| actor["name"] }.each do |actor| %>
    <li>
      <% actor_name = actor["name"] %>
      <% actor_id = actor["id"] %>
      <a href='/actors/<%= "#{actor_id}" %>'><%= actor_name %></a>
    </li>
  <% end %>
</ul>
