<form action='/movies' method='get'>
  <input type='text' name='query'>
  <input type='submit' value='Search'>
</form>

<p>
  Sort by: <a href='/movies?order=rating&query=<%= "#{@search}" %>'>rating</a> |
           <a href='movies?order=year&query=<%= "#{@search}" %>'>year</a> |
           <a href='movies?order=title&query=<%= "#{@search}" %>'>title</a>
</p>

<!-- pages -->
<% @page ||= 1 %>
<% if @page < @last_page %>
  <a href='/movies?page=<%= "#{@page.to_i + 1}" %>&order=<%="#{@sort_choice}"%>&query=<%= "#{@search}" %>'>Next Page</a>
<% end %>
<% if @page > 1 %>
  <a href='/movies?page=<%= "#{@page.to_i - 1}" %>&order=<%="#{@sort_choice}"%>&query=<%= "#{@search}" %>'>Previous Page</a>
<% end %>

<ul>
  <% @movies.each do |movie| %>
  <% title = movie["title"] %>
  <% id = movie["id"] %>
    <li>
      <%= "<a href='/movies/#{id}'>#{title}</a>" %>
    </li>
  <% end %>
</ul>
